<%= simple_form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :label %>
  <%= f.input :url %>
  
  <% if @preview %>
    <h3>Preview</h3>
    <p>This is what the data sets would look like</p>
    <%= preview_data_table(@stock) %>

    <%= f.submit 'Save', class: 'btn btn-success btn-block' %>
  <% else %>
    <%= hidden_field_tag 'preview', true %>
    <%= f.submit 'Preview', class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
